<div class="d-flex mb-2">
    <div class="me-3">
        <img src="{{ suggested_user.avatar_url }}" style="witdh:32px; height:32px;" class="rounded-circle"/>
    </div>
    <div>
        <a href="{% url "instagram:user_page" suggested_user.username %}">
        {{ suggested_user.username  }}
        </a>
    </div>
    <div class="ms-auto">
        <a href="{% url "user_follow" suggested_user.username %}">Follow</a>   
        {% comment %} <a href="{% url "user_unfollow" suggested_user.username %}">Unfollow</a>    {% endcomment %}
    </div>
</div>